.mat-option {
  border-bottom: 1px solid var(--dialog);

  &:nth-child(even) {
    background-color: var(--surface);
    color: var(--on-surface);
  }

  &:nth-child(odd) {
    background-color: var(--alt-surface);
    color: var(--on-surface);
  }

  &.mat-option-header {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.slide-container {
  margin-top: 2rem;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > * {
    flex: 1;
  }
}

.counter-container {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: var(--on-primary);
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.gpt-requester {
  display: flex;
  flex-direction: column;

  > div {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 100%;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;
    margin: 0.5rem 0;

    &::before,
    &::after {
      bottom: -0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
    }

    &::after {
      background-color: var(--surface);
    }
  }

  > .human {
    align-self: flex-end;
    background-color: var(--primary);
    color: var(--on-primary);

    &a {
      text-decoration: underline;
      color: var(--on-secondary);
    }

    &::before {
      border-bottom-left-radius: 0.8rem 0.7rem;
      border-right: 1rem solid var(--primary);
      right: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-left-radius: 0.5rem;
      right: -40px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }

  > .error {
    margin-inline: auto;
    background-color: var(--red);
    color: #000;
  }

  > .gpt {
    align-items: flex-start;
    background-color: var(--secondary);
    color: var(--on-secondary);
    margin-left: 3em;

    > mat-icon {
      position: absolute;
      bottom: 0;
      left: -1.3em;
      z-index: 1;
      font-size: 2.5em;
      width: 1em;
      height: 1em;
      color: var(--on-surface);
    }

    &::before {
      border-bottom-right-radius: 0.8rem 0.7rem;
      border-left: 1rem solid var(--secondary);
      left: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-right-radius: 0.5rem;
      left: 20px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface);
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 2px;
  width: fit-content;
  margin: 1.5em auto;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 2px;
  width: fit-content;
  margin: 1.5em auto;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.mat-chip {
  background-color: var(--primary);
  color: var(--on-primary);
}

.refresh-indicator {
  float: right;
}

.start_introduction {
  position: fixed;
  left: 35px;
  bottom: 65px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
  z-index: 2;

  &:hover {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 2px;
  }
}
