h3, p {
  font-size: 14px !important;
  font-weight: normal !important;
}

p {
  color: var(--on-surface);
  margin-right: 15px;
}

.delete {
  color: var(--red);
}

.selected {
  color: var(--green) !important;
  font-size: 18px !important;
  font-weight: bold;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
}

.flexbox-container h2, .flexbox-container .input, .flexbox-container table{
  margin-bottom: 20px;
}

table, th, tr, td {
  background-color: var(--primary-variant) !important;
  color: var(--on-primary-variant) !important;
  hyphens: auto;
  overflow-wrap: anywhere;
}

th, tr {
  font-size: small !important;
}

.table-container {
  overflow: auto;
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}

.export-button {
  background-color: var(--primary);
  color: var(--on-primary);
  margin-top: 1rem;

  .mat-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left:10px;
  text-align: center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  font-size: 12px;
}
