<div data-nosnippet>
  <p tabindex="0">
    Unsere Q&A-Plattform ist anonym, datenschutzkonform und kostenfrei.
  </p>

  <p tabindex="0">
    Ohne Registrierung sind Räume browsergebunden und werden mit dem
    Browserverlauf gelöscht.
  </p>

  <p tabindex="0">
    Mit »Annehmen« akzeptierst du unsere Datenschutzerklärung, einsehbar über
    das obere Icon.
  </p>
</div>
