.new-session {
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--on-background);
  padding: 5px;
}

.add {
  padding-right: 10px;
  padding-left: 5px;
  transform: scale(2);
  color: var(--primary);
}

button:hover {
  outline: 2px solid var(--secondary);
}
