<mat-form-field floatLabel="always">
  <input
    matInput
    class="hidden-control" />
  <mat-slide-toggle [formControl]="data.control">
    {{ data.label | translate }}
  </mat-slide-toggle>
  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error *ngIf="data.control.invalid">
    <ng-container *ngIf="data.errorStates | keyvalue as errors">
      <mat-error *ngIf="errors.length">
        {{ errors[0].value | translate }}
      </mat-error>
    </ng-container>
  </mat-error>
</mat-form-field>
